{% extends 'base.htm' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="content_box">
    <h2>Newest Items</h2>
    
    <div class="image_card">
        {% for items in items %}
        <div class="sections">
        <a href="{% url 'item_app:detail' items.id %}">
            <img src="{{items.image.url}}" alt="{{items.name}}">
            <p><strong>{{items.name}}</strong></p>
            <p>Price: ${{items.price}}</p>
        </a>
        </div>
        {% endfor %}
    </div>
        
</div>
<br>
<h2>Categories</h2> 
<div class="category_box">
    
    {% for categories in categories %}
    <div class="category_card">
        <a href="#">
            <p>{{categories.name}}</p>
            <p>{{categories.items.count}}</p>
        </a>
    
    </div>
    {% endfor %}
   
    </div>
{% endblock %}