{% load static %}
<!DOCKTYPE html>
<html>
    <head>
        <title>TriftNG | Home</title>
        <meta name="viewport" content="width= device-width, initial-scale= 1.0">
        <meta charset="UTF-8">
        <link rel="icon" type="image/icon-x" href="{% static 'nazicon.ico' %}">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
            <h1>Otega Richard</h1>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About<a></a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </header>
        <section class="home_page">
            <h2>Welcome to my website</h2>
        </section>
        <footer>
            <p>@ 2025 Richard Otega. All rights reserved.</p>
            <ul>
                <li><a href="twitter.com">Twitter</a></li>
                <li><a href="Linkedin.com">LinkedIN</a></li>
            </ul>
        </footer>
    </body>
</html>