:root{
    --color-green-500: #09C885;
    --color-green-600: #079C68;

    --color-cream-500: #F7F7D2;
    --color-cream-600: #EDED9B;

    --color-pure-white: #ffffff;
    --color-gray-50:  #f8f9fa;
    --color-gray-100: #e9ecef;
    --color-gray-800: #343a40;
    --color-gray-900: #212529;

    --color-primary: var(--color-green-500);
    --color-primary-hover: var(--color-green-600);
    --color-secondary: var(--color-cream-500);
    --color-secondary-hover: var(--color-cream-600);

    --color-bg-page: var(--color-gray-100);
    --color-bg-card: var(--color-pure-white);
    --color-bg-surface: var(--color-pure-white);

    --color-text-main: var(--color-gray-900);
    --color-text-muted: var(--color-gray-800);
    --color-text-on-primary: var(--color-pure-white);
}
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color-bg-page);
    color: var(--color-text-main);
    font-family:Arial, Helvetica, sans-serif;

}
body a{ text-decoration: none; }
body p{ font-size: 16px }
header{
    width: 100%;
    padding: 0.625rem 1rem;
    background-color: var(--color-primary)
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.brand{
    text-decoration: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 800;
    color: var(--color-pure-white);
}
.nav-links{
    list-style: none;
    display: flex;
    gap: 1rem;
}
.nav-links li a{
    text-decoration: none;
    color: var(--color-pure-white);
    font-weight: 700;
}
.nav-cta{
    display: flex;
    gap: 1rem;
}
.nav-cta a{
    text-decoration: none;
    padding: 1em 2em;
    border-radius: 10em;
    font-weight: 700;
}
.btn-sign-in{
    color: var(--color-text-on-primary);
}
.btn-sign-up{
    background-color: var(--color-secondary);
    color: var(--color-text-main);
}
.hamburger{
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
}
.hamburger span{
    background: #000;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    transition: 0.3s; 
}
.hamburger span:nth-child(1){ top: 0; }
.hamburger span:nth-child(2){ top: 8px; }
.hamburger span:nth-child(3){ top: 16px; }

.hamburger.active span:nth-child(1){
    transform: rotate(45deg);
    top: 8px;
}
.hamburger.active span:nth-child(2){
    opacity: 0;
}
.hamburger.active span:nth-child(3){
    transform: rotate(-45deg);
    top: 8px;
}

footer{
    padding: 20px;
    background-color: var(--color-primary);
}
footer p{
    color: var(--color-text-muted);
    text-align: center;
}
footer .logo p{ text-align: initial;}
.footer-links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}
.footer-links ul{
    list-style: none;
}
.footer-links ul li a{
    color: var(--color-text-on-primary);
}

.items{
    background-color: var(--color-bg-page);
    padding: 20px;
}
.items h1{ text-align: center; 
    font-size: 1.2rem;         
}
.item-space{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-items: center;
}
.item-card{
    background-color: var(--color-bg-surface);
    width: calc(25vw - 20px);
    height: auto;
    border-radius: 20px;
    margin-top: 10px;
}
.item-card img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.card-text{
    padding: 10px;
}
.item-card a{
    color: var(--color-text-main);
    font-size: 1em;
}



@media(max-width: 768px){
    .hamburger{
        display: block;
    }
    .nav-cta{
        display: none;
        position: absolute;
        flex-direction: column;
        width: 90%;
        background-color: var(--color-primary);
        top: 140px;
        border: 1px solid var(--color-gray-50);
        padding: 10px;
    }
    .nav-cta .btn-sign-up, .nav-cta .btn-sign-in{
        background-color: transparent;
        color: var(--color-pure-white);
        padding: 0;
    }
    .nav-links{
        flex-direction: column;
        display: none;
        position: absolute;
        width: 90%;
        top: 60px;
        background-color: var(--color-primary);
        padding: 10px;
        opacity: 0;
        transform: translateY(-20px);
        transition: all 0.7s ease-in-out;
        border: 1px solid var(--color-gray-50);
    }
    .nav-links.active{
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }
    .nav-cta.active{
        display: flex;

    }
    .item-card{
        width: calc(50% - 20px);
    }
}
