{% extends 'base.html' %}
{% load static %}
{% block title %}Welcome{% endblock %}
{% block content %}
    <div class="items">
        <h1>Newest items</h1>
        <div class="item-space">
            {% for item in items %}
                <div class="item-card">
                    <a href="#">
                        <div><img src="{{ item.image.url }}" alt="product image"></div>
                        <div class="card-text">
                            <p><strong>{{ item.name }}</strong></p>
                            <p>₦{{ item.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}