{% extends 'base.html' %}
{% load static %}

{% block title %}{{ item.name }}{% endblock %}
{% block content %}
    <div class="detail-card">
        <div class="detail-image">
            <img src="{{ item.image.url }}" alt="item image">
        </div>
        <div class="detail-text">
            <p><strong>{{ item.name }}</strong></p>
            <p>Price: ₦{{ item.price }}</p>
            <p>Seller: {{ item.created_by }}</p>
            <hr>
            <p><strong>Description: </strong>{{ item.description }}</p>
        </div>

        {% if request.user == item.created_by %}
            <div class="detail-action">
                <p>This listing was created by you.</p>
                <div class="action-btns">
                    <a href="{% url 'item:delete' item.id %}" class="delete-btn">Delete</a>
                    <a href="#" class="edit-btn">Edit</a>
                </div>
            </div>
        {% else %}
            <a href="#" class="contact-btn">Contact Seller</a>
        {% endif %}
        
    </div>

    <div class="related-items">
        <h3>Related items</h3>
        <div class="related-item-space">
            {% for item in related %}
                <div class="related-item-card">
                    <a href="{% url 'item:detail' item.id %}">
                        <div><img src="{{ item.image.url }}" alt="product image"></div>
                        <div class="card-text">
                            <p><strong>{{ item.name }}</strong></p>
                            <p>₦{{ item.price }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}